.App {
  max-width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;

  gap: 20px;

  overflow: hidden;

}

.main {
  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 50px;
}

.stuff {
  width: 100vw;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
  row-gap: 50px;
}

.container {
  display: flex;
  height: fit-content;

  gap: 20px;
}

.cards {
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  row-gap: 50px;
}

.reverse {
  flex-direction: row-reverse;
}

.content {
  width: 400px;
  height: 80px;

  background: linear-gradient(90deg, #86cfe0, #1c69b7);

  border-radius: 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  padding: 10px;
}

.container img {
  border-radius: 90px;
  height: 740px;
}

.company_table {
  display: grid;
  grid-template-columns: repeat(10, auto);
  align-items: center;
  gap: 20px;
}

.company_table img {
  max-width: 128px;
  max-height: 128px;
  width: auto;
  height: auto;

  border-radius: 15px;
}


@media only screen and (max-width: 960px) {

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container img {
    width: 95vw;
    padding: 10px;
  }

  .cards {
    row-gap: 15px;
  }

  .company_table {
    grid-template-columns: repeat(2, auto);
  }

  .stuff {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}