.App {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    gap: 10px;

    height: max-content;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;

}

.main h2 {
    color: #014D99;
}

.form {
    background: #588abc;
    width: 80%;
    height: max-content;


    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    color: whitesmoke;

    border-radius: 15px;

    gap: 20px;

    padding: 20px;
}

.form h3 {
    text-align: center;
    font-weight: 800;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 40px;
}

.page label {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.checks {
    width: 90%;
    display: flex;

    justify-content: center;
    gap: 20px;
}

.checks label {
    width: 400px;
}

.checks button {
    margin: 0;
    padding: 0;
    border: none;

    background-color: #588abc;
    text-decoration: underline;

    font-weight: bold;

    color: #fff;
}

.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    column-gap: 20px;
}

.field {
    width: 550px;
}


.page label input[type="submit"] {
    background-color: #014D99;
    color: #fff;
}

.page label input[type="submit"]:hover {
    transform: scale(0.9);
}


.page label input {
    border: none;
    border-radius: 15px;

    height: 40px;
    font-size: 16px;

    width: 100%;

    padding-left: 10px;
}

.page label select {
    border: none;
    border-radius: 15px;
    height: 40px;

    width: 100%;
    padding-left: 10px;
}

.warning {
    color: rgb(150, 16, 16);
}

@media only screen and (max-width: 960px) {
    .main {
        width: 100vw;

        min-height: max-content;

        display: flex;
        flex-direction: column;

    }

    .form {
        width: 100%;
        height: max-content;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        gap: 5px;

        margin-bottom: 20px;

    }

    .page {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .page label {
        width: 90%;
    }

    .page label input {
        width: 95%;
    }

    .page label select {
        width: 95%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, auto);

        row-gap: 10px;
    }

    .field h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
    }

    .field h3 {
        text-align: justify;
        font-size: 18px;
        font-weight: normal;
    }
}