@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    width: 100vw;
}